.home-block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin-top: 1em;
}
.home-block-text h2 {
    text-align: center;
    color: rgb(84, 94, 90);
    font-weight: 900;
    font-size: 18px;
}
.card-text {
    width: 50%;
    background-color: rgb(212, 245, 227);
    border-radius: 5px;
    padding: 6px;
}
