/* page home */
.page-home-profil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-top: 1em;
    padding: 8px;
}
.header-home-profil h1 {
    text-align: center;
    color: rgb(0, 85, 141);
    font-weight: 900;
    font-size: 25px;
}
.text-home-profil p {
    text-align: justify;
}
.text-home-profil {
    background-color: rgb(212, 245, 227);
    border-radius: 5px;
    padding: 3px;
}
.page-home-profil h2 {
    font-size: 21px;
    color: rgb(0, 85, 141);
    text-decoration: underline;
}
@media (max-width: 500px) {
    .page-home-profil {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-top: 1em;
        padding: 8px;
    }
    .header-home-profil h1 {
        font-size: 21px;
    }
}
/* css partie index */
#presentation-tasks {
    text-align: center;
    color: rgb(125, 214, 84);
    font-size: 22px;
    font-weight: bold;
}
#table-tasks {
    width: 100%;
    border-collapse: 1px solid #000;
}
#table-tasks td,
#table-tasks th {
    border: 1px solid #ddd;
    padding: 8px;
}
#table-tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(125, 214, 84);
    color: #000;
}
#table-tasks td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(193, 235, 212);
    color: #000;
}
#task-edit-btn {
    background-color: orange;
    color: #000;
    padding: 0.2em;
    border-radius: 2px;
}
#task-edit-btn:hover {
    background-color: rgb(180, 117, 0);
}
#task-delete-btn {
    background-color: rgb(201, 0, 0);
    color: rgb(255, 254, 254);
    padding: 0.2em;
    border-radius: 2px;
    margin-left: 0.2em;
}
#task-delete-btn:hover {
    background-color: rgb(104, 1, 1);
}
#task-show-btn {
    background-color: rgb(0, 85, 141);
    color: rgb(255, 254, 254);
    padding: 0.2em;
    border-radius: 2px;
}
#task-show-btn:hover {
    background-color: rgb(6, 126, 206);
}
.container-btn-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.task-btn-create {
    background-color: rgb(0, 141, 7);
    color: rgb(255, 254, 254);
    padding: 0.2em;
    border-radius: 2px;
}
.task-btn-create:hover {
    background-color: rgb(2, 189, 11);
}
.task-block-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
#task-btn-container {
    margin-top: 10px;
}
/* css partie form task-type */

.container-page-form-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}
.form-task-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(192, 250, 223);
    border-radius: 5px;
    padding: 5px;
}
.block-input-task input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 1em;
}
.block-input-task label {
    color: rgb(201, 0, 0);
    font-weight: bold;
}
.block-btn-task {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-btn-task button {
    background-color: rgb(8, 0, 121);
    color: rgb(255, 254, 254);
    padding: 0.2em;
    border-radius: 2px;
}
.block-btn-task button:hover {
    background-color: rgb(0, 54, 233);
}
/* partie show (tasktype) */
.show-page-task {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-show {
    text-align: center;
    color: rgb(0, 85, 141);
    text-decoration: underline;
    font-size: 26px;
}
.show-container-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    background-color: rgb(192, 250, 223);
    padding: 2px;
    width: 30%;
    height: 7em;
    border-radius: 1em;
}
.block-show-task {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#task-delete-container {
    margin-top: 10px;
}
.block-show-task div {
    margin-top: 5px;
}
.show-task {
    color: rgb(0, 85, 141);
    text-decoration: none;
    font-size: 20px;
}
.show-task:hover {
    text-decoration: underline;
}

/* partie show tasks */

.container-form-task-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    background-color: rgb(192, 250, 223);
    padding: 4px;
    width: 35%;
    height: 10em;
    border-radius: 1em;
}
.container-form-task-show p {
    color: rgb(0, 85, 141);
    text-decoration: none;
    font-weight: bold;
}
.container-btn-index-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-btn-index-show form {
    margin-top: 0.5em;
}
.block-btn-dit-show {
    margin-top: 0.3em;
}
#task-name-show {
    color: rgb(70, 48, 2);
    font: 23px;
}

@media (max-width: 500px) {
    .container-form-task-show {
        height: 15em;
        width: 90%;
    }
}
/* page of user profil */

.container-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profil-block {
    background-color: rgb(192, 250, 223);
    border-radius: 5px;
    width: 30%;
    padding: 0.5em;
}
.profil-block span {
    font-weight: 900;
    color: rgb(148, 5, 5);
}
.profil-block h2 {
    text-align: center;
    font-size: 22px;
    color: rgb(17, 12, 94);
}
/* nav profil */

.container-lien-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.logout-btn {
    color: rgb(165, 1, 1);
    margin-left: 4px;
    margin-bottom: 1px;
    font-size: 18px;
}
.logout-btn:hover {
    color: red;
    text-decoration: underline;
}
@media (max-width: 450px) {
    .container-lien-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logout-btn {
        color: rgb(165, 1, 1);
        margin-left: 0px;
        margin-bottom: 3px;
    }
}
