/* partie TasksController */

.title-task {
    text-align: center;
    font-size: 1.9em;
    margin: 1em 0 1em 0;
    color: rgb(20, 80, 190);
}
#form-task {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-form-task {
    background-color: rgb(20, 80, 190);
    color: white;
    padding: 0.2em;
    border-radius: 2px;
}
.block-form-task {
    margin: 1em 0 1em 0;
}
.block-form-task label {
    color: rgb(20, 80, 190);
    font-weight: bold;
}
.btn-form-task:hover {
    background-color: rgb(90, 140, 235);
    color: black;
}
#task-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocks-btns-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.page-task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-form-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 231, 175);
    border-radius: 1em;
    padding: 0.3em;
}
#task-btn-return {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}
.btn-task-return {
    background-color: rgb(185, 3, 3);
    color: rgb(255, 255, 255);
    padding: 0.4em;
    border-radius: 0.2em;
}
.btn-task-return:hover {
    background-color: rgb(235, 31, 31);
    color: rgb(255, 255, 255);
}

.container-form-task-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 231, 175);
    border-radius: 1em;
    padding: 0.3em;
}
/* fin */

